<html>

<body>
    <table class="tab">
        <tr>
            <th rowspan=8>
                <img src="assets/k.jpg" height="400" width="510" class="d5">
            </th>
            <th>ARTIST</th>
            <td>Amrita Shergil</td>
        </tr>
        <tr>
            <th>MEDIUM</th>
            <td>Painting</td>
        </tr>
        <tr>
            <th>MATERIALS USED</th>
            <td>Oil,arcylic and transfer on linen</td>
        </tr>
        <tr>
            <th>DIMENSIONS(IN)</th>
            <td>24*18</td>
        </tr>
        <tr>
            <th>ESTIMATED DELIVERY TIME</th>
            <td>1-2 Weeks</td>
        </tr>

    </table>
</body>

</html>