<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<body>
    <p>SUMMARY</p>

    <div class="d">

        <table class="w3-table-all w3-hoverable">
            <tr>
                <th>NAME:</th>
                <td>{{add.name}}</td>
                <td></td>
            </tr>
            <tr>
                <th>DATE OF BOOKING:</th>
                <td>{{add.Date}}</td>
                <td></td>
            </tr>
            <tr></tr>
            <tr>
                <th>DATE OF DELIVERY:</th>
                <td>{{add.Delivery}}</td>
                <td></td>
            </tr>
            <tr>
                <th>NO. OF ORDERS:</th>
                <td>{{add.Orderno}}</td>
                <td></td>
            </tr>
            <tr>
                <th>
                    ORDERS:
                </th>
                <td>{{add.Image1}}</td>
                <td>{{add.Rupee1}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add.Image2}}</td>
                <td>{{add.Rupee2}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add.Image3}}</td>
                <td>{{add.Rupee3}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add.Image4}}</td>
                <td>{{add.Rupee4}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add.Image5}}</td>
                <td>{{add.Rupee5}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add.Image6}}</td>
                <td>{{add.Rupee6}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add.Image7}}</td>
                <td>{{add.Rupee7}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add.Image8}}</td>
                <td>{{add.Rupee8}}</td>
            </tr>
            <tr>
                <th>TOTAL PRICE</th>
                <td></td>
                <td>{{add.Total_Price}}</td>

            </tr>

        </table>
    </div>
    <div class="d">

        <table class="w3-table-all w3-hoverable">
            <tr>
                <th>NAME:</th>
                <td>{{add1.name}}</td>
                <td></td>
            </tr>
            <tr>
                <th>DATE OF BOOKING:</th>
                <td>{{add1.Date}}</td>
                <td></td>
            </tr>
            <tr></tr>
            <tr>
                <th>DATE OF DELIVERY:</th>
                <td>{{add1.Delivery}}</td>
                <td></td>
            </tr>
            <tr>
                <th>NO. OF ORDERS:</th>
                <td>{{add1.Orderno}}</td>
                <td></td>
            </tr>
            <tr>
                <th>
                    ORDERS:
                </th>
                <td>{{add1.Image1}}</td>
                <td>{{add1.Rupee1}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add1.Image2}}</td>
                <td>{{add1.Rupee2}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add1.Image3}}</td>
                <td>{{add1.Rupee3}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add1.Image4}}</td>
                <td>{{add1.Rupee4}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add1.Image5}}</td>
                <td>{{add1.Rupee5}}</td>
            </tr>
            <tr>
                <th>TOTAL PRICE</th>
                <td></td>
                <td>{{add1.Total_Price}}</td>

            </tr>
        </table>
    </div>

    <div class="d">

        <table class="w3-table-all w3-hoverable">
            <tr>
                <th>NAME:</th>
                <td>{{add2.name}}</td>
                <td></td>
            </tr>
            <tr>
                <th>DATE OF BOOKING:</th>
                <td>{{add.Date}}</td>
                <td></td>
            </tr>
            <tr></tr>
            <tr>
                <th>DATE OF DELIVERY:</th>
                <td>{{add.Delivery}}</td>
                <td></td>
            </tr>
            <tr>
                <th>NO. OF ORDERS:</th>
                <td>{{add.Orderno}}</td>
                <td></td>
            </tr>
            <tr>
                <th>
                    ORDERS:
                </th>
                <td>{{add.Image1}}</td>
                <td>{{add.Rupee1}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add.Image2}}</td>
                <td>{{add.Rupee2}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add.Image3}}</td>
                <td>{{add.Rupee3}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add.Image4}}</td>
                <td>{{add.Rupee4}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add.Image5}}</td>
                <td>{{add.Rupee5}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add.Image6}}</td>
                <td>{{add.Rupee6}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add.Image7}}</td>
                <td>{{add.Rupee7}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add.Image8}}</td>
                <td>{{add.Rupee8}}</td>
            </tr>
            <tr>
                <th>TOTAL PRICE</th>
                <td></td>
                <td>{{add.Total_Price}}</td>


            </tr>

        </table>
    </div>
    <div class="d">

        <table class="w3-table-all w3-hoverable">
            <tr>
                <th>NAME:</th>
                <td>{{add3.name}}</td>
                <td></td>
            </tr>
            <tr>
                <th>DATE OF BOOKING:</th>
                <td>{{add1.Date}}</td>
                <td></td>
            </tr>
            <tr></tr>
            <tr>
                <th>DATE OF DELIVERY:</th>
                <td>{{add1.Delivery}}</td>
                <td></td>
            </tr>
            <tr>
                <th>NO. OF ORDERS:</th>
                <td>{{add1.Orderno}}</td>
                <td></td>
            </tr>
            <tr>
                <th>
                    ORDERS:
                </th>
                <td>{{add1.Image1}}</td>
                <td>{{add1.Rupee1}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add1.Image2}}</td>
                <td>{{add1.Rupee2}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add1.Image3}}</td>
                <td>{{add1.Rupee3}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add1.Image4}}</td>
                <td>{{add1.Rupee4}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add1.Image5}}</td>
                <td>{{add1.Rupee5}}</td>
            </tr>
            <tr>
                <th>TOTAL PRICE</th>
                <td></td>
                <td>{{add1.Total_Price}}</td>

            </tr>
        </table>
    </div>