<meta name="viewport" content="width=device-width">
<p>DETAILS</p>

<table>
    <tr>
        <th>NAME:</th>
        <td>{{add.name}}</td>
        <td></td>
    </tr>
    <tr>
        <th>DATE:</th>
        <td>{{add.Date}}</td>
        <td></td>
    </tr>
    <tr>
    </tr>
    <tr>
        <th>
            ORDERS:
        </th>
        <td>
            <div *ngFor="let Img of addcart">
                <td style="color:black;">{{Img.value}}</td>
            </div>
        </td>
        <td>
            <div *ngFor="let Img of addcart">
                <td style="color:black;">{{Img.prize}}</td>
            </div>
        </td>
    </tr>
    <tr>
        <td>TOTAL:</td>
        <td></td>
        <td>
            <div>
                <td>{{total}}</td>
            </div>
        </td>

    </tr>
</table>

<script>
    function reallySure(event) {
        var message = 'Your Order is received\nThank you!!\nIt will be deliverd on 28/04/2018';
        action = confirm(message) ? true : event.preventDefault();
    }

    function actionToFunction(event) {
        switch (event.target.tagName.toLowerCase()) {
            case 'a':
                reallySure(event);
                break;
            default:
                break;
        }
    }
    document.body.addEventListener('click', actionToFunction);
</script>
<button (click)="alertMe('Your Order is received\nThank you!!\nIt will be deliverd on 28/04/2018')" class="button" [routerLink]="['/summaryuser']">BUYNOW</button>