<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <form action="">

        <label for=""></label>
        <input type="text" name="" onfocus="this.value=''" id="" placeholder="email" class="email" required="*">

        <label for=""></label>
        <input type="password" name="" onfocus="this.value=''" id="" placeholder="password" class="pass" required="*">

        <button type="submit"><a routerLink="./summaryadmin/">Sign in</a></button>
        <button type="submit"><a routerLink="./signup/">Sign up</a></button>

    </form>
</body>

</html>