body {
    text-align: center;
}

.d2 {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.d2:hover {
    border: 70px solid #000;
    border-radius: 50%;
}

table {
    text-align: center;
    margin-left: 10%;
    margin-top: 3%;
    background-image: url("assets\flo.png");
    background-repeat: repeat-x;
    height: 100%;
    border-collapse: collapse;
}

td {
    text-align: center;
    color: white;
    border: 1px solid white;
}

th {
    color: crimson;
    border: 1px solid white;
}

.tab {
    border: 1px solid white;
}