<html>

<body>
    <table class="tab">
        <tr>
            <th rowspan=8>
                <img src="assets/k1.jpg" height="400" width="510" class="d2">
            </th>
            <th>ARTIST</th>
            <td>Amrith Shergil</td>
        </tr>
        <tr>
            <th>MEDIUM</th>
            <td>Painting</td>
        </tr>
        <tr>
            <th>MATERIALS USED</th>
            <td>Acrylic on canvas</td>
        </tr>
        <tr>
            <th>DIMENSIONS(IN)</th>
            <td>44 7/8*63 3/4</td>
        </tr>
        <tr>
            <th>ESTIMATED DELIVERY TIME</th>
            <td>1-2 Weeks</td>
        </tr>

    </table>
</body>

</html>