<html>

<body>
    <table class="tab">
        <tr>
            <th rowspan=8>
                <img src="assets/nat.jpg" height="400" width="510" class="d4">
            </th>
            <th>ARTIST</th>
            <td>Satish Gujral</td>
        </tr>
        <tr>
            <th>MEDIUM</th>
            <td>Painting</td>
        </tr>
        <tr>
            <th>MATERIALS USED</th>
            <td>Oil painting trasfer on linen</td>
        </tr>
        <tr>
            <th>DIMENSIONS(IN)</th>
            <td>56*29</td>
        </tr>
        <tr>
            <th>ESTIMATED DELIVERY TIME</th>
            <td>1-2 Weeks</td>
        </tr>

    </table>
</body>

</html>