<div>
    <form>

        <input type="text" id="fname" name="firstname" placeholder="Enter Email..">
        <input type="text" id="lname" name="lastname" placeholder="Enter password..">
        <input type="text" id="lname" name="lastname" placeholder="Repeat password..">
        <input type="radio" id="admin" name="signing" checked><label for="admin" style="color: white;cursor: pointer;">ADMIN</label>
        <input type="radio" id="user" name="signing"><label for="user" style="color: white;cursor: pointer;">USER</label>
        <button type="submit"><a routerLink="./summaryadmin/">Register</a></button>
        <button type="submit"><p>Already have an account?<a routerLink="/">Sign in</a></p></button>
    </form>
</div>