<html>

<body>
    <form action="">

        <label for=""></label>
        <input type="text" name="" onfocus="this.value=''" id="" placeholder="Enter Email" class="email" required="*">

        <label for=""></label>
        <input type="password" name="" onfocus="this.value=''" id="" placeholder="Enter password" class="pass" required="*">
        <label for=""></label>
        <input type="password" name="" onfocus="this.value=''" id="" placeholder="Repeat password" class="pass" required="*">

        <button type="submit">Register</button><br><br>
        <button type="submit"><p>Already have an account?<a href="/">Signin</a></p>
    </button>

    </form>
</body>

</html>