body {
    text-align: center;
}

.d1 {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.d1:hover {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.d2 {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.d2:hover {
    border: 70px solid #000;
    border-radius: 50%;
}

.d3 {
    height: 400px;
    width: 400px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.d3:hover {
    width: 300px;
    height: 300px;
}

.d4 {
    margin-top: 0px;
    -webkit-transition: margin 1s ease;
    -moz-transition: margin 1s ease;
    -o-transition: margin 1s ease;
    -ms-transition: margin 1s ease;
    transition: margin 1s ease;
}

.d4:hover {
    margin-top: -100px;
}

.d5 {
    height: 300px;
    width: 300px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.d5:hover {
    width: 400px;
    height: 400px;
}

table {
    text-align: center;
    margin-left: 10%;
    margin-top: 3%;
    background-image: url("assets\flo.png");
    background-repeat: repeat-x;
    height: 100px;
    border-collapse: collapse;
}

td {
    text-align: center;
    color: white;
    border: 1px solid white;
}

th {
    color: crimson;
    border: 1px solid white;
}

.tab {
    border: 1px solid white;
}