/* p {
    color: white;
    margin-left: 42%;
    font-size: 20px;
}

body {
    color: white;
}

table {
    margin-left: 25%;
    width: 50%;
    height: 20px;
    margin-top: 1%;
    height: 100px;
    border-collapse: collapse;
    border: 10px solid white;
    font-size: 12px;
    background-color: #ccc;
}

td {
    text-align: center;
    color: darkgray;
}

th {
    color: crimson;
}

.button {
    margin-top: 1%;
    background-color: maroon;
    color: black;
    cursor: pointer;
    margin-left: 45%;
    font-size: 20px;
}

.button:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.2);
    transform: scale(0.9);
}

.subtick {
    width: 65px;
    height: 65px;
    position: absolute;
    top: 250px;
    right: 350px;
    margin-left: 18%;
    padding: 10px;
    z-index: 2;
}

img {
    width: 128px;
    margin: 10px;
    border: 10px solid white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
} */

.button {
    margin-top: 1%;
    background-color: maroon;
    color: whitesmoke;
    cursor: pointer;
    margin-left: 45%;
    font-size: 20px;
}

.button:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.2);
    transform: scale(0.9);
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

table td {
    padding: 10px;
    color: black;
}

table th {
    /* border: 1px solid #ddd; */
    padding: 10px;
    color: black;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
    font-size: 12px;
    border: 1px solid #ddd;
}

.subtick {
    width: 50px;
    height: 65px;
    position: absolute;
    top: 250px;
    right: 350px;
    margin-left: 18%;
    padding: 10px;
    z-index: 2;
}

img {
    width: 128px;
    margin: 10px;
    border: 10px solid white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

@media screen and (min-width:360px) {
    .subtick {
        width: 25px;
        height: 65px;
        position: fixed;
        top: 300px;
        right: 325px;
    }
    img {
        width: 70px;
        margin: 10px;
        border: 7px solid white;
    }
    table {
        margin-left: 25%;
        width: 50%;
        height: 20px;
        margin-top: 3%;
        height: 100px;
        border-collapse: collapse;
        border: 1px solid #ddd;
        font-size: 12px;
        background-color: #ccc;
    }
}