<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
    <div class="w3-container">
        <p>SUMMARY</p>
        <table class="w3-table-all w3-hoverable">
            <tr>
                <th>NAME:</th>
                <td>{{add.name}}</td>
                <td></td>
            </tr>
            <tr>
                <th>DATE OF BOOKING:</th>
                <td>{{add.Date}}</td>
                <td></td>
            </tr>
            <tr></tr>
            <tr>
                <th>DATE OF DELIVERY:</th>
                <td>{{add.Delivery}}</td>
                <td></td>
            </tr>
            <tr>
                <th>NO. OF ORDERS:</th>
                <td>{{add.Orderno}}</td>
                <td></td>
            </tr>
            <tr>
                <th>
                    ORDERS:
                </th>
                <td>{{add.Image1}}</td>
                <td>{{add.Rupee1}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add.Image2}}</td>
                <td>{{add.Rupee2}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add.Image3}}</td>
                <td>{{add.Rupee3}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add.Image4}}</td>
                <td>{{add.Rupee4}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add.Image5}}</td>
                <td>{{add.Rupee5}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add.Image6}}</td>
                <td>{{add.Rupee6}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add.Image7}}</td>
                <td>{{add.Rupee7}}</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>{{add.Image8}}</td>
                <td>{{add.Rupee8}}</td>
            </tr>
            <tr>
                <th>TOTAL PRICE</th>
                <td></td>
                <td>{{add.Total_Price}}</td>

            </tr>
            <tr>
                <a routerLink="/" class="subtick"><img src="assets/tick.png"></a>

            </tr>
        </table>