<meta name="viewport" content="width=device-width">
<p>SUMMARY</p>
<table>
    <tr>
        <th>NAME:</th>
        <td>{{add.name}}</td>
        <td></td>
    </tr>
    <tr>
        <th>DATE OF BOOKING:</th>
        <td>{{add.Date}}</td>
        <td></td>
    </tr>
    <tr></tr>
    <tr>
        <th>DATE OF DELIVERY:</th>
        <td>{{add.Delivery}}</td>
        <td></td>
    </tr>
    <tr>
        <th>NO. OF ORDERS:</th>
        <td>
            <div *ngIf="summary">{{summary.length}}
            </div>
        </td>
    </tr>
    <tr>

        <th>
            ORDERS:
        </th>
        <td>
            <div *ngFor="let Img of summary">
                <td>{{Img.value}}</td>
            </div>
        </td>
        <td>
            <div *ngFor="let Img of summary">
                <td>{{Img.prize}}</td>
            </div>
        </td>
    </tr>
    <tr>
        <th>TOTAL:</th>
        <td></td>
        <td>
            {{total}}
        </td>

    </tr>

    <tr>
        <a routerLink="/" class="subtick"><img src="assets/tick.png"></a>
    </tr>
</table>