<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <ng-content></ng-content>
    <marquee behaviour=alternate class="mark">WELCOME TO KALAKRUTHI</marquee>

    <img src="assets\buddha.jpg" class="buddha" usemap="#mapimap">
    <map name="#mapimap">
    <area shape="circle" coords="50,200,50" href="/imagemap1/">
   
    <div class="space">
         <div class="arrowleft">
             <pre><h1>  <<</h1></pre>
        </div>
             <area shape="circle" coords="1270,200,50" href="/imagemap2/">
             <div class="space">
                 <div class="arrowright" >
                     <pre><h1>  >></h1></pre>
             </div>
         </div>
         
     </div>  
    </map>


    <div class='container'>
        <div id="first">
            <p class="para">
                <span class="span">Kalakruthi Art Galleria</span> began its journey in the first decade of new millennium and geared up an evoution in the mordern and contemporary art in India. Kalakruthi has showcased some of the unique and finest exhibitions
                of mordern and contemporary art in India building up a gateway of Indian art in the world market. Kalakruthi Art Gallery presently operates from two places -one gallery is in Kolkata and the other is in New Delhi</p>
        </div>

        <div id="second">
            <h1><u>Artists</u></h1>
            <ul>
                <li>Amritha Shergill</li>
                <li>Tyeb Mehta</li>
                <li>Francis Newton Souza</li>
                <li>B.C.Sanyal</li>
                <li>Satish Gujral</li>
            </ul>
        </div>
        <div id="clear"></div>
    </div>

</body>

</html>