<meta name="viewport" content="width=device-width">

<h1 class="gal">GALLERY</h1>
<div>
    <div *ngFor="let a of arr">
        <div class="d">
            <img src={{a.image}} width="300" height="210" routerLink={{a.router}} style="cursor:pointer">
            <div class="text1">
                <input type="checkbox" (click)="test(a.value,a.prize)" style="text-align: center">{{a.value}}
                <p class="rupee"><span class="rupee">&#8377;{{a.prize}}</span></p>
            </div>
        </div>
    </div>
</div>
<input type="button" class="gotocart" value="GO TO CART" [routerLink]="['/addcart']">
<!-- <button [routerLink]="['/addcart']">GO TO CART</button> -->