<html>

<head>

</head>

<body>
    <h1 class="gal">GALLERY</h1>
    <div class="d">
        <img src="assets/d.jpg" width=" 300 " height="270 " usemap="map1" />
        <map name="map1">
            <area shape="rect" coords="50,50,230,230" routerLink="/shop1/">
        </map>
        <div class="text1">
            <input type="checkbox" name="Image1" text="Image1"> Image1
            <p class="rupee"><span class="rupee">&#8377;5000</span></p>
        </div>
    </div>

    <div class="d">
        <img src="assets/k1.jpg" width=" 300 " height="270 " usemap="map2" />
        <map name="map2">
                <area shape="rect" coords="50,50,230,230" routerLink="/shop2/">
            </map>
        <div class="text1">
            <input type="checkbox" class="text" name="Image2" text="Image2">Image2
            <p class="rupee"><span class="rupee">&#8377;7000</span></p>
        </div>
    </div>
    <div class="d">
        <img src="assets/glass.jpg" width=" 300 " height="270 " usemap="map3" />
        <map name="map3">
                <area shape="rect" coords="50,50,230,230" routerLink="/shop3/">
            </map>
        <div class="text1">
            <input type="checkbox" class="text" name="Image3" text="Image3">Image3
            <p class="rupee"><span class="rupee">&#8377;7000</span></p>
        </div>
    </div>
    <div class="d">
        <img src="assets/nat.jpg" width=" 300 " height="270 " usemap="map4" />
        <map name="map4">
                <area shape="rect" coords="50,50,230,230" routerLink="/shop4/">
            </map>
        <div class="text1">
            <input type="checkbox" class="text" name="Image4" text="Image4">Image4
            <p class="rupee"><span class="rupee">&#8377;10000</span></p>
        </div>
    </div>
    <div class="d">
        <img src="assets/k.jpg" width=" 300 " height="270 " usemap="map5" />
        <map name="map5">
                <area shape="rect" coords="50,50,230,230" routerLink="/shop5/">
            </map>
        <div class="text1">
            <input type="checkbox" class="text" name="Image5" text="Image5">Image5
            <p class="rupee"><span class="rupee">&#8377;20000</span></p>
        </div>
    </div>
    <div class="d">
        <img src="assets/e.jpg" width=" 300 " height="270 " usemap="map6" />
        <map name="map6">
                <area shape="rect" coords="50,50,230,230" routerLink="/shop6/">
            </map>
        <div class="text1">
            <input type="checkbox" name="Image6" text="Image6">Image6
            <p class="rupee"><span class="rupee">&#8377;9000</span></p>
        </div>
    </div>
    <div class="d">
        <img src="assets/sh1.jpg" width=" 300 " height="270 " usemap="map7" />
        <map name="map7">
                <area shape="rect" coords="50,50,230,230" routerLink="/shop7/">
            </map>
        <div class="text1">
            <input type="checkbox" name="Image7" text="Image7">Image7
            <p class="rupee"><span class="rupee">&#8377;4000</span></p>
        </div>
    </div>
    <div class="d">
        <img src="assets/sh2.jpg" width=" 300 " height="270 " usemap="map8" />
        <map name="map8">
                <area shape="rect" coords="50,50,230,230" routerLink="/shop8/">
            </map>
        <div class="text1">
            <input type="checkbox" name="Image8" text="Image8">Image8
            <p class="rupee"><span class="rupee">&#8377;7000</span></p>
        </div>
    </div>
    <button class="button"><a href="./addcart/"> ADD TO CART</a></button>
</body>

</html>