    p {
        color: white;
    }
    
    .gal {
        text-align: center;
        color: maroon;
        transition: transform .2s;
        margin-top: 0%;
    }
    
    .gal:hover {
        -ms-transform: scale(1.0);
        -webkit-transform: scale(1.5);
        transform: scale(1.3);
    }
    
    .d {
        height: 240px;
        width: 300px;
        float: left;
        background-color: grey;
        margin-left: 2%;
    }
    
    .d1 {
        height: 300px;
        width: 300px;
        float: left;
        background-color: grey;
        margin-left: 2%;
    }
    
    .text1 {
        width: 100%;
        height: 10%;
        color: black;
        background-color: white;
        /* float: left; */
        text-align: center;
    }
    
    .rupee {
        float: right;
        color: red;
        margin-top: 0%;
    }
    
    .gotocart {
        margin-top: 1%;
        margin-bottom: 2%;
        background-color: maroon;
        color: whitesmoke;
        cursor: pointer;
        margin-left: 45%;
    }
    
    .gotocart:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
    /* .d {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .d:hover {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        transform: rotate(-10deg);
    } */
    
    .d {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .d:hover {
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.2);
    }
    
    .d5 {
        height: 300px;
        width: 300px;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }
    
    .d5:hover {
        width: 400px;
        height: 400px;
    }
    
    @media screen and (max-width:360px) {
        img,
        .text1,
        .d {
            width: 350px;
        }
        .text1,
        {
            text-align: center;
        }
    }